.CarHomeHeading {
  margin: 5rem 2rem;
  color: #1e1e1e;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.CarHomeSpan {
  color: #1e1e1e;
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.CarHomeCardTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Card1Img {
  width: 420px;
  height: 560px;
  flex-shrink: 0;
  border-radius: 5px;
  object-fit: cover;
}

.Card2Img {
  width: 420px;
  height: 560px;
  flex-shrink: 0;
  border-radius: 5px;
}

.Card3Img {
  width: 420px;
  height: 560px;
  flex-shrink: 0;
  border-radius: 5px;
}

.CarHomeCard1,
.CarHomeCard2,
.CarHomeCard3 {
  margin-right: 15px;
}

.Car1Text,
.Car2Text,
.Car3Text,
.Car4Text,
.Car5Text {
  color: #1e1e1e;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 4rem;
}

.CardHomeBottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Card4Img {
  width: 617px;
  height: 440px;
  flex-shrink: 0;
  border-radius: 5px;
  margin-right: 1rem;
}

.Card5Img {
  width: 617px;
  height: 440px;
  flex-shrink: 0;
  border-radius: 5px;
}

.CarHomeCard1,
.CarHomeCard2,
.CarHomeCard3,
.CarHomeCard4,
.CarHomeCard5 {
  margin-right: 15px;
}

@media (max-width: 1200px) {
  .CarHomeCardTop {
    flex-direction: column;
    align-items: center;
  }

  .CardHomeBottom {
    flex-direction: column;
  }

  .CarHomeCard1,
  .CarHomeCard2,
  .CarHomeCard3,
  .CarHomeCard4,
  .CarHomeCard5 {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .Car1Text,
  .Car2Text,
  .Car3Text,
  .Car4Text,
  .Car5Text {
    margin-bottom: 2rem;
  }

  .Card4Img,
  .Card5Img {
    width: 100%; /* Use full width on smaller screens */
    height: auto; /* Maintain aspect ratio */
  }
}

@media (max-width: 600px) {
  .CarHomeHeading {
    font-size: 24px;
  }

  .CardHomeBottom {
    flex-direction: column;
  }

  .CarHomeSpan {
    font-size: 36px;
  }

  .Car1Text,
  .Car2Text,
  .Car3Text,
  .Car4Text,
  .Car5Text {
    font-size: 24px;
  }
}
