.Footer {
  width: 100%;
  box-sizing: border-box;
}

.FooterTop {
  background: #1e1e1e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4rem 0;
}

.FooterImg {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 5px;
}

.FooterTopDetails {
  text-align: center;
  margin-top: 1.5rem;
}

.FooterTopTitle {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}

.AwardsAboutUsh1 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
}

.FooterForm,
.FooterSubmit {
  width: 100%;
  max-width: 300px;
}

.FooterForm {
  background-color: transparent;
  font-weight: bold;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid #fff;
}

.FooterSubmit {
  margin: 0.7rem 0.7rem;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid #fff;
  background: #fff;
}

.FooterSubmit:hover {
  background-color: #1e1e1e;
  color: #fff;
  border: 2px solid #fff;
}

.FooterHr {
  width: 100%;
  height: 1px;
  background: #dbd9d9;
}

.FooterCenter {
  background-color: #1e1e1e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #fff;
  padding: 3rem 1rem;
}

.FooterLogo {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.FooterListHeading,
.FooterListItems {
  margin: 0.5rem 0;
}

.FooterListHeading {
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style: none;
}
.FooterListItems {
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
  list-style: none;
}

.FooterBottom {
  background-color: #1e1e1e;
  text-align: center;
  padding: 1.5rem 1rem;
}

.SocialIcons {
  cursor: pointer;
  color: #fff;
  margin-right: 1rem;
}

.FooterBottomTxt {
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* Media Query for Responsive Layout */
@media (max-width: 768px) {
  .FooterTop,
  .FooterCenter {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0.5rem;
  }

  .FooterCenterLogo {
    text-align: center;
    margin-bottom: 1rem;
  }

  .FooterGeneral,
  .FooterLegal,
  .FooterSocialLinks {
    text-align: center;
    margin-bottom: 2rem;
  }

  .FooterTopImg {
    order: 2;
  }

  .FooterTopDetails {
    margin: 1rem auto;
  }

  .FooterLogo {
    font-size: 24px;
  }

  .FooterListHeading {
    font-size: 24px;
  }
  .FooterListItems {
    font-size: 18px;
  }

  .FooterListItems,
  .SocialIcons {
    display: block;
    margin: 0.5rem 0;
  }

  .FooterSubmit {
    margin: 0.7rem 0.7rem;
  }

  .FooterBottomTxt {
    font-size: 12px;
  }

  .SocialIcons {
    margin-right: 0;
  }
}
