.Card {
  margin-right: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  padding: 25px;
  overflow: hidden;
  border-radius: 10px;
  background: #f8f9fa;
  border: 2px solid #f8f9fa;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.HomeCardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #1e1e1e;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.HomeCardh1 {
  font-family: "Inter", sans-serif;
  font-size: 36px;
}

.HomeCardp1 {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}
.HomeCardContent .HomeCardh1 {
  font-weight: 700;
  font-size: 32px;
}

.HomeCardContent .HomeCardp1 {
  line-height: 1.5;
}

.Card:hover {
  box-shadow: 0 0 20px #1e1e1e;
  border-color: #1e1e1e;
}

.HomeCard1,
.HomeCard2 {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;
  align-items: center;
  flex-direction: row;
}

.HomeCardTitle {
  color: #1e1e1e;
  text-align: center;
  margin: 1rem 0;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.HomeCardPara {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.HomeCardTitle,
.HomeCardPara {
  text-align: center;
}

@media (max-width: 768px) {
  .HomeCard {
    width: 100%;
  }
  .Card {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  .HomeCard1,
  .HomeCard2 {
    flex-direction: column;
    margin: 2rem 0;
  }

  .HomeCardTitle {
    font-size: 24px;
  }

  .HomeCardPara {
    font-size: 16px;
  }
}
