.SuperBar {
  align-items: center;
  background-color: #1e1e1e;
  color: white;
  font-weight: bold;
}

.SuperBarList {
  list-style-type: none;
  display: flex;
  padding: 25px;
}

.SuperBarIcons {
  margin-right: 10px;
}

.SuperBarText {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style: none;
  margin-right: 15px;
}

/* Media Query for Mobile and Larger Screens */
@media (max-width: 768px) {
  .SuperBar {
    text-align: center;
  }

  .SuperBarList {
    flex-direction: column;
    padding: 10px;
  }

  .SuperBarText {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .SuperBarIcons {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

